* {
	margin: 0;
	padding: 0;
}
		
a{
	text-decoration: none;
}
		
ul li {
	list-style: none;
}
		
body,html {
	font-size: 18px;
	font-family: "微软雅黑";
}
.cssh-erji-main{
	margin-left: 4%;
	margin-right: 4%;
}
.cssh-erji-top{
	/*margin-top: 20px;*/
	height: 100px;
	/*border: 1px solid red;*/
}
.cssh-erji-top .col-lg-12{
	height: 100px;
	/*border: 1px solid green;*/
}
.cssh-erji-top .col-lg-12 h2{
	text-align: center;
	color: white;
	line-height: 100px;
	margin-top: -1px;
}
.cssh-erji-photo1{
	/*height: 300px;*/
	/*border: 1px solid red;*/
}
.cssh-erji-photo .col-lg-4{
	height: 300px;
	/*border: 1px solid white;*/
}
.cssh-erji-photo .col-lg-4 img{
	height: 300px;
	width: 100%;
}
.cssh-erji-photo2{
	margin-top: 20px;
	/*height: 300px;*/
	/*border: 1px solid red;*/
}
.cssh-erji-photo3{
	margin-top: 20px;
	/*height: 300px;*/
	/*border: 1px solid red;*/
}
.cssh-erji-photo4{
	margin-top: 20px;
	/*height: 300px;*/
	/*border: 1px solid red;*/
}
.cssh-erji-bottom {
    height: 100px;
    /*border: 1px solid red;*/
}

.cssh-erji-bottom .col-lg-12 {
    height: 100px;
    /*border: 1px solid green;*/
}

.cssh-erji-bottom .nextpage {
    height: 40px;
    width: 300px;
    /*border: 1px solid red;*/
    /*background: gold;*/
    margin: 30px auto;
}

.cssh-erji-bottom .nextpage a {
    text-decoration: none;
    display: block;
    text-align: center;
    line-height: 40px;
}
.cssh-erji-bottom .nextpage a span {
    text-decoration: none;
    display: block;
    text-align: center;
    padding:0 30px;
    background: gold;
    float: left;
    line-height: 40px;
}
.cssh-erji-bottom .nextpage .next span{
    margin-left: 70px;
}
@media screen and (max-width: 500px) {
    .cssh-erji-bottom .nextpage a span {
        text-decoration: none;
        display: block;
        text-align: center;
        padding:0 20px;
        background: gold;
        float: left;
        line-height: 40px;
    }
    .cssh-erji-bottom .nextpage .next span{
        margin-left: 10px;
    }
}